{
    "data": {
        "elevation": 4,
        "external_url": "https://ha-glimberg.duckdns.org",
        "internal_url": null,
        "latitude": 55.5399052,
        "location_name": "Skumparp",
        "longitude": 12.9625906,
        "time_zone": "Europe/Stockholm",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}