secrets.yaml
*.bak
*.log
*.db
.uuid
.HA_VERSION
ip_bans.yaml
tts/
.storage/core.*
.storage/http*
.storage/auth*
.storage/frontend*
.storage/hassio
.storage/mobile_app
.storage/onboarding
.storage/person
.storage/zha*